body{
    margin: 0;
    padding: 0;
    font-family: 'Glory', sans-serif , opensans;
    font-size: 15px;
    line-height: 24px;
    color: black;
    
    background-color: white;

}
    a {
        text-decoration: none;
    }
.slogan{
    margin-left: 739px;
    margin-top: 0px;
    font-size: 47px;
    line-height: 56px;
}
.subtitle {
    font-size: 15px;
    line-height: 30px;
    font-family: 'Open Sans';
  
      }

          .slogan1{
            margin-left: 739px;
            margin-top: 0px;
            font-size: 47px;
            line-height: 56px;
          }
      
      .img {
        background-image:  url("../img/background/slider-1.png");
        position: absolute;
        left: 230px;
        top: 228px;
        width: 384px;
        height: 486px;
        z-index: 148;
      }



.intro {
        position: absolute;
        left: 140px;
        top: 40px;
        width: 1160px;
        height: 299px;
        z-index: 98;
      
      
    background: url("../img/background/Layer\ 4.jpg");


}

main {padding-top: 100px;}

header {
    margin: 200px;
}

.header {
    border: solid 10px black;
}
